/**
* Body CSS
*/
html,
body {
height: 100%;
}

html,
body,
input,
textarea,
button {
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}


/**
* Header CSS
*/
header {
position: fixed;
top: 0;
right: 0;
left: 0;
z-index: 2;
}

header ul.mui-list--inline {
margin-bottom: 0;
}

header .mui-container{
    background-color: #2A2A2C;
}
.mui-appbar{
    background-color: #2A2A2C;
}

.img-navbar{
    height: 40px;
}

header a {
color: #fff;
}

header table {
width: 100%;
}


/**
* Content CSS
*/
#content-wrapper {
min-height: 100%;

/* sticky footer */
box-sizing: border-box;
margin-bottom: -100px;
padding-bottom: 100px;
}
.img-profile{
    height: 300px;
    border-radius: 50%;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
}
#about-text{
    margin : 0 20% 10px !important;
    background-color: #DDDDDD;
    box-shadow: rgba(0, 0, 0, 30%) 10px 10px 5px 0px;
    padding: 20px;
    border-radius: 30px;
    margin-bottom: 10%
}

@media (max-width : 414px){
    .img-profile{
        height: 200px
    }

    #about-text{
        font-size: 15px;
        margin: 0 10% 10px !important
    }
}


/**
* Footer CSS
*/
footer {
box-sizing: border-box;
background-color: #eee;
border-top: 1px solid #e0e0e0;
padding: 30px 0px;

}
.page-list-a{
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
}

.page-list-li :hover{
    transition-duration: 0.5s;
    border-radius: 10px;
    background-color: white;
    color : black;
    text-decoration: none !important;
}

@media (max-width: 414px){
    .page-list-a{
        padding: 5px;
        font-size: 12px;
        border-radius: 4px;
    }
    .page-list-li :hover{
        border-radius: 4px;
    }
    .img-navbar{
        height: 30px;
        margin-top : -8px
    }
}