.img-par-com{
    width: 90%;
    background-color: #fafafa;
    box-shadow: rgba(0, 0, 0, 30%) 10px 10px 5px 0px;
    border-radius : 20px;
    margin : 30px
}
.parcours-row{
    width: 90%;
    margin: 2% 5%;
}
