<div class="mui-container mui--text-center" style="background-color: #eee;padding: 0px 50px 0px 50px">
        <div class="mui-row">
            <div class="mui-col-md-4">
                <div class="mui-col-md-3" style="margin-top: 10px">
                    <i class="fa fa-phone fa-2x mui--text-display3 mui--color-black row" aria-hidden="true"></i>
                </div>
                <div class="mui-col-md-3">
                    06.71.14.83.69<br>04.95.20.34.22
                </div>
                
            </div>
            <div class="mui-col-md-4">
                <div class="mui-col-md-3" style="margin-top: 10px">
                    <i class="fa fa-envelope fa-2x mui--text-display3 mui--color-black row" aria-hidden="true"></i>
                </div>
                <div class="mui-col-md-3" style="margin-top: 5%">
                    <a href="mailto:axel.frau.tr@gmail.com">axel.frau.tr@gmail.com</a>
                </div>
            </div>
            <div class="mui-col-md-4">
                    <div class="mui-col-md-3" style="margin-top: 10px">
                        <i class="fa fa-twitter fa-2x mui--text-display3 mui--color-black row" aria-hidden="true"></i>
                    </div>
                    <div class="mui-col-md-3" style="margin-top: 4%">
                        <a href="https://twitter.com/AxelFRAU1">@AxelFRAU1</a>
                    </div>
            </div>
        </div>
        <div class="mui-row" style="margin-top:4%">
            <div class="mui-col-md-4">
                    <div class="mui-col-md-3">
                        <i class="fa fa-facebook fa-2x mui--text-display3 mui--color-black row" aria-hidden="true"></i>
                    </div>
                    <div class="mui-col-md-4" style="margin-top: 2%">
                        <a href="mailto:axel.frau.tr@gmail.com">Axel Frau</a>
                    </div>
            </div>
            <div class="mui-col-md-4">
                    <div class="mui-col-md-3">
                        <i class="fa fa-linkedin fa-2x mui--text-display3 mui--color-black row" aria-hidden="true"></i>
                    </div>
                    <div class="mui-col-md-4" style="margin-top: 2%">
                        <a href="https://www.linkedin.com/in/axel-frau-52a31718a/">Axel FRAU</a>
                    </div>
            </div>
            <div class="mui-col-md-4">
                    <div class="mui-col-md-3">
                        <i class="fa fa-github fa-2x mui--text-display3 mui--color-black row" aria-hidden="true"></i>
                    </div>
                    <div class="mui-col-md-4" style="margin-top: 1%">
                        <a href="https://github.com/axelFrau">axelFrau</a>
                    </div>
            </div>
        </div>
    </div>
</div>