<div class="mui-container" id="header-mui-appba">
<table>
    <tr class="mui--appbar-height">
    <td class="mui--text-title"><img class="img-navbar" src="image/icone-portefolio.png" alt=""></td>
    <td class="mui--text-right">
        <ul class="mui-list--inline mui--text-body2">
        <li><a href="#">Parcours</a></li>
        <li><a href="#">Éxpérience</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">CV</a></li>
        </ul>
    </td>
    </tr>
</table>
</div>

