<div class="mui-container" id="header-mui-appba">
<table>
    <tr class="mui--appbar-height">
    <td class="mui--text-title"><a href="/"><img class="img-navbar" src="image/icone-portefolio.png" alt=""></a></td>
    <td class="mui--text-right">
        <ul class="mui-list--inline mui--text-body2">
        <li class="page-list-li"><a href="/" class="page-list-a">Accueil</a></li>
        <li class="page-list-li"><a href="/parcours" class="page-list-a">Parcours</a></li>
        <li class="page-list-li"><a href="/experience" class="page-list-a">Éxpérience</a></li>
        <li class="page-list-li"><a href="/contact" class="page-list-a">Contact</a></li>
        <li class="page-list-li"><a href="/cv" class="page-list-a">CV</a></li>
        </ul>
    </td>
    </tr>
</table>
</div>

