<html lang="en">
<head>
    <% include ../component/head %>
</head>
<body>
    <div style="border: solid black 2px; height: 300px"></div>
</body>
<footer>
    <% include ../component/footer %>
</footer>
</html>