<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MUI Landing Page with Extras</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="//cdn.muicss.com/mui-0.9.43/extra/mui-colors.min.css">
    <link rel="stylesheet" href="css/mui.css">
    <script src="//cdn.muicss.com/mui-0.9.43/extra/mui-combined.min.js"></script>
</head>

<body>
    <header class="mui-appbar mui--z1">
            <% include header.ejs %>
    </header>
    <div id="content-wrapper" class="mui--text-center">
            <div class="mui--appbar-height"></div>
            <br><br>
            <div class="mui--text-display3 row wow fadeIn">Mon Portfolio</div>
            <br><br><br>
        <img class="img-profile wow fadeIn" src="image/axel.jpg" style="">
            <br><br>
            <div  class="mui--text-subhead row wow fadeIn">
                <p id="about-text" style="background-color: #DDDDDD;box-shadow: rgba(0, 0, 0, 30%) 10px 10px 5px 0px;padding: 20px;border-radius: 30px;margin-bottom: 10%">Je suis très curieux de nature, j’aime chercher et apprendre de
                        nouvelles choses dans plusieurs domaines différents tels que
                        l’histoire, la biologie, la physique et bien évidemment je suis très
                        porté sur l’informatique en général et les nouvelles technologies plus
                        particulièrement ! J’ai un esprit logique, j’apprends rapidement ce que
                        j’étudie et surtout j’aime creuser les sujets qui m’intéressent afin de
                        savoir le plus de choses possibles !</p>
            </div>
    </div><br><br>
    <footer>
        <div class="mui-container mui--text-center" style="background-color: #eee;padding: 0px 50px 20px 50px">
                <div class="mui-row">
                    <div class="mui-col-md-3">
                        <div class="mui-col-md-3" style="margin-top: 10px">
                            <i class="fa fa-phone fa-2x mui--text-display3 mui--color-black row" aria-hidden="true"></i>
                        </div>
                        <div class="mui-col-md-3">
                            06.71.14.83.69<br>04.95.20.34.22
                        </div>
                        
                    </div>
                    <div class="mui-col-md-3">
                        <div class="mui-col-md-3" style="margin-top: 10px">
                            <i class="fa fa-envelope fa-2x mui--text-display3 mui--color-black row" aria-hidden="true"></i>
                        </div>
                        <div class="mui-col-md-3" style="margin-top: 5%">
                            <a href="mailto:axel.frau.tr@gmail.com">axel.frau.tr@gmail.com</a>
                        </div>
                    </div>
                    <div class="mui-col-md-6">
                        <div class="mui-col-md-12" style="margin-top: 10px">
                            <div class="mui-col-md-4" style="margin-right: 2%">
                                <i class="fa fa-facebook fa-1x mui--text-display3 mui--color-black" aria-hidden="true"></i>
                                @axelFrau
                            </div>
                            <div class="mui-col-md-4" style="margin-right: 2%">
                                <i class="fa fa-twitter fa-1x mui--text-display3 mui--color-black" aria-hidden="true" style="margin-bottom: 1%"></i>
                                Axel Frau
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </footer>
    <script src="//cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
</body>

</html>