<div class="section section-list-feature fp-auto-height-responsive"  data-section="coach">
    <div class="container">
            <div class="row">
                <div id="centrer-coach" class="col-sm-10 col-sm-offset-1">
                <div id="coach-1" class="col-md-4 col-sm-6">
                    <div id="card-coach-1" class="card-container manual-flip">
                        <div class="card">
                            <div class="front">
                                <div class="cover">
                                    <img src="../img/bg-coach-1.jpg"/>
                                </div>
                                <div class="user">
                                    <img class="img-circle" src="../thumb/img-coach-1.gif"/>
                                </div>
                                <div class="content">
                                    <div class="main">
                                        <h3 class="name">Lilysa</h3>
                                        <p class="profession">Coach Professionnel</p>
                                        <!-- <p class="text-center">"J'aime transmettre mon savoir et le faire de manière pédagogique"</p> -->
                                    </div>
                                    <div id="stats-contain-coach1" class="stats-container">
                                        <ul id="resp-stats-coach1" class="stats-coach" style="font-weight: 600;">
                                            <li><b>Jeu :</b> + 2520h </li>
                                            <li><b>Coaching :</b> + 600h</li>
                                            <li><b>LAN :</b> 15</li>
                                        </ul>
                                    </div>
                                    <div class="footer">
                                        <button class="btn btn-simple" onclick="rotateCard(this)">
                                            <i class="fa fa-mail-forward"></i> En savoir plus
                                        </button>
                                    </div>
                                </div>
                            </div> <!-- end front panel -->
                            <div class="back">
                                <div class="header">
                                    <h5 class="motto">" J'aime transmettre mon savoir et le faire de manière pédagogique. "</h5>
                                </div>
                                <div class="content">
                                    <div class="main">
                                        <h4 class="text-center"><b>Expérience :</b></h4>
                                        <p class="text-center"><b>Dreamhack</b> 2015.</p>
                                        <p class="text-center"><b>Lyon esport</b> depuis 2015.</p> 
                                        <p class="text-center"><b>Gamers Assembly</b>.</p>
                                    </div>
                                    <p id="text-footer-coach1" class="text-center">" Mon parcours en tant que coach m'a amené à participer à de nombreuses LAN. "</p>
                                </div><br />
                                <div class="footer">
                                    <button  id="btn-retour" class="btn btn-simple" onclick="rotateCard(this)">
                                        <i class="fa fa-reply"></i> Retour
                                    </button>
                                    <div class="social-links text-center">
                                        <a href="https://www.facebook.com/Lilysalol/" class="facebook commune"><i class="fab fa-facebook-f"></i></i></a>
                                        <!-- <a href="#" class="google commune"><i class="fab fa-instagram"></i></i></a> -->
                                        <a href="https://twitter.com/Lilysalol" class="twitter commune"><i class="fab fa-twitter"></i></i></a>
                                    </div>
                                </div>
                            </div> <!-- end back panel -->
                        </div> <!-- end card -->
                    </div> <!-- end card-container -->
                </div> <!-- end col sm 3 -->
                <div id="coach-2" class="col-md-4 col-sm-6">
                        <div id="card-coach-2" class="card-container manual-flip">
                            <div class="card">
                                <div class="front">
                                    <div class="cover">
                                        <img src="../img/bg-coach-2.jpg"/>
                                    </div>
                                    <div class="user">
                                        <img class="img-circle" src="../thumb/img-coach-2.gif"/>
                                    </div>
                                    <div class="content">
                                        <div class="main">
                                            <h3 class="name">Spiky</h3>
                                            <p class="profession">Coach Professionnel</p>
                                            <ul class="stats-coach coach2" style="font-weight: 600;">
                                                <li><b>Jeu :</b> + 3000h </li>
                                                <li><b>Coaching :</b> + 1300h</li>
                                                <li><b>LAN :</b> 10</li>
                                            </ul>
                                        </div>
                                        <div class="footer">
                                            <button class="btn btn-simple" onclick="rotateCard(this)">
                                                <i class="fa fa-mail-forward"></i> En savoir plus
                                            </button>
                                        </div>
                                    </div>
                                </div> <!-- end front panel -->
                                <div class="back">
                                    <div class="header">
                                        <h5 class="motto">" Je souhaite vous transmettre les clés qui vous mèneront au succès. "</h5>
                                        
                                    </div>
                                    <div class="content">
                                        <div class="main">
                                            <h4 class="text-center"><b>Expérience :</b></h4>
                                            <p class="text-center"><b>ESL</b> championnat national.</p> 
                                            <p class="text-center"><b>Underdogs</b></p><br />
                                            <p class="text-center"></p>
                                            <p id="text-footer-coach2" class="text-center">" Mon parcours m'a amené à entraîner des équipes de niveau Master/Challenger. "</p>
                                        </div>
                                    </div><br />
                                    <div class="footer">
                                        <button id="btn-retour" class="btn btn-simple" rel="tooltip" onclick="rotateCard(this)">
                                            <i class="fa fa-reply"></i> Retour
                                        </button>
                                        <div id="desc-back-coach-2" class="social-links text-center">
                                            <!-- <a href="#" class="facebook commune"><i class="fab fa-facebook-f"></i></i></a> -->
                                            <!-- <a href="#" class="google commune"><i class="fab fa-instagram"></i></i></a> -->
                                            <a href="https://twitter.com/eSpikyLOL" class="twitter commune"><i class="fab fa-twitter"></i></i></a>
                                        </div>
                                    </div>
                                </div> <!-- end back panel -->
                            </div> <!-- end card -->
                        </div> <!-- end card-contfzefzefzefainer -->
                            <!-- La position fixe -->
                    </div> <!-- end col sm 3 -->
            <!--<div class="col-sm-1"></div> -->
                <div id="coach-3" class="col-md-4 col-sm-6">
                    <div id="card-coach-3" class="card-container manual-flip">
                        <div class="card">
                            <div class="front">
                                <div class="cover">
                                    <img src="../img/bg-coachhh-3.jpg"/>
                                </div>
                                <div class="user">
                                    <img class="img-circle" src="../thumb/img-coachhh-3.gif" style="width: 111%;"/>
                                </div>
                                <div class="content">
                                    <div class="main">
                                        <h3 class="name">Molyv</h3>
                                        <p class="profession">Coach Professionnel</p>              
                                        <ul class="stats-coach coach2" style="font-weight: 600;">
                                            <li><b>Jeu :</b> + 2000h </li>
                                            <li><b>Coaching :</b> + 1000h</li>
                                            <li><b>LAN :</b> 7</li>
                                        </ul>
                                    </div>
                                    <div class="footer">
                                        <button class="btn btn-simple" onclick="rotateCard(this)">
                                            <i class="fa fa-mail-forward"></i> En savoir plus
                                        </button>
                                    </div>
                                </div>
                            </div> <!-- end front panel -->
                            <div class="back">
                                <div class="header">
                                    <h5 class="motto">"En tant que joueur, j'ai participé à des rencontres au sein d'équipe Master et Challenger."</h5>
                                </div>
                                <div class="content">
                                    <div id="desc-back-main-coach-3" class="main">
                                            <h4 class="text-center"><b>Expérience :</b></h4>
                                            <p class="text-center"><b>ESWC Bordeaux</b> 2017.</p> 
                                            <p class="text-center"><b>HF LAN.</b></p> 
                                            <p class="text-center">"Mon parcours m'a amené à travailler avec de nombreuses équipes européennes."</p>
                                    </div>
                                </div>
                                <div class="footer">
                                    <button id="btn-retour" class="btn btn-simple" rel="tooltip" onclick="rotateCard(this)">
                                        <i class="fa fa-reply"></i> Retour
                                    </button>
                                    <div id="desc-back-coach-3" class="social-links text-center">
                                        <!-- <a href="#" class="facebook commune"><i class="fab fa-facebook-f"></i></i></a> -->
                                        <!-- <a href="#" class="google commune"><i class="fab fa-instagram"></i></i></a> -->
                                        <!-- <a href="#" class="twitter commune"><i class="fab fa-twitter"></i></i></a> -->
                                    </div>
                                </div>
                            </div> <!-- end back panel -->
                        </div> <!-- end card -->
                    </div> <!-- end card-container -->
                </div> <!-- end col-sm-3 -->
                </div> <!-- end col-sm-10 -->
            </div> <!-- end row -->
            
        </div>
</div>